<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Podwalk</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <img src="../static/podwalk.png" class="center">
    <br>
    <br>
   <center>
       <form action="https://podwalk-mcwics.appspot.com/api" method="GET">
        <textarea name="origin" placeholder="Origin"></textarea>
        <textarea name="destination" placeholder="Destination"></textarea>
        <br><button type="submit" class="button" style="vertical-align:middle"><span>Go</span></button>
       </form>
    <table>  
  </body>
</html>
