<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Podcast app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <h1>Titre</h1>
    <br>
    <br>
   <center>
    <table>  
    <tr><th><textarea placeholder="Destination"></textarea></th><th><p><input type="checkbox" name="depart" value="depart" checked> utiliser position actuelle</p></th></tr>
    <tr><th><textarea placeholder="Genre"></textarea></th><th><p><input type="checkbox" name="genre" value="random"> random</p></th></tr>
    <tr><th><textarea placeholder="Pace"></textarea></th><th><p><input type="checkbox" name="pace" value="pace" checked> defaut</p></th></tr></table>
    <br><button class="button" style="vertical-align:middle"><span>Go</span></button>
  </body>
</html>
