<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Podcast app</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <h1>Titre</h1>
    <br>
    <br>
    <center>
    <table>  
    <tr><th><textarea>Destination</textarea></th><th><input type="checkbox" name="depart" value="depart"> <p>utiliser position actuelle</p></th></tr>
    <tr><th><textarea>Genre</textarea></th><th><input type="checkbox" name="genre" value="random"> <p>random</p></th></tr>
    <tr><th><textarea>Pace</textarea></th><th><input type="checkbox" name="pace" value="pace"> <p>defaut</p></th></tr></table>
    <br><button>Go</button>
  </body>
</html>